<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<center>
{% include 'header.html' %}
<form action="/sharesadded/" method="post">
    {% csrf_token %}
    <br class="div justify-content-center">
<h3>Add Shares</h3>
   <div>
      <input type="number" placeholder="Share Id" name="id">
   </div></br>
   <div>
      <input type="text" placeholder="Share name" name="name">
   </div>
    </br>
    <div>
      <input type="text" placeholder="Company Symbol" name="symbol">
    </div></br>
<div>
            <input type="number"  name="price" placeholder="buy rate">
    </div>
  </br>
    <div>
      <select name="select">
        <option>Select</option>
        <option>BSC</option>
        <option>NSC</option>
      </select>
    </div>
</br>

  <button type="submit" class="btn btn-primary">Add</button>

  <button type="submit" class="btn btn-dark">Back</button></form>
</br>
{{ msg }}
</br>
               {% include 'footer.html' %}

    </ul></form>
</center>

   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>