<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>stock and portfolio management</title>
  </head>
  <body>
  {% include 'header.html' %}
<ul class="nav justify-content-center">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          COMAPNY
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!--<a class="dropdown-item" href="/add_company/">Add Company</a>-->
          <a class="dropdown-item" href="/view_allcompanies/">View Companies</a>
{#          <a class="dropdown-item" href="/update_company/">Update Company</a>#}
{#          <a class="dropdown-item" href="/Delete_company/">Delete Company</a>#}
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SHARES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#          <a class="dropdown-item" href="/shares_add/">Add Shares</a>#}
          <a class="dropdown-item" href="/view_allshares/">View Shares</a>
         <a class="dropdown-item" href="/addshare_customer/">buy Shares</a>
          <a class="dropdown-item" href="/sellshare_customer/">Sell Shares</a>
        </div>
      </li>

 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          AGENT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <!-- <a class="dropdown-item" href="/add_agent/">Add Agent</a>-->
          <a class="dropdown-item" href="/view_allagents/">View Agents</a>
         <!-- <a class="dropdown-item" href="/update_agent/">Update Agent</a>
          <a class="dropdown-item" href="#">Delete Agent</a>-->
        </div>
      </li>
 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CUSTOMER
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/view_allcutomers/">View Customers</a>
{#          <a class="dropdown-item" href="/update_customer/">Update Customer</a>#}
{#          <a class="dropdown-item" href="#">Delete Customer</a>#}
        </div>
      </li>

        <li class="nav-item active">
        <a class="nav-link" href="/index/">Logout <span class="sr-only">(current)</span></a>
      </li>

    </ul>

</nav>
</ul>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{ msg }}












{% include 'footer.html' %}
  </body>



</html>